<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Balul Bobocilor L.T.P.N 2025</title>

    <link href="https://fonts.cdnfonts.com/css/coolvetica-2" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>

    <link href="reset.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <!-- DESPRE BAL -->
    <div class="principal" v-if="!hide">
        <!-- <nav>
            <a href="#echipe">ECHIPE</a>
            <a href="#sponsori">SPONSORI</a>
            <a href="#bilete">BILETE SI TOMBOLA</a>
        </nav> -->
        <header>
            <h1>BALUL BOBOCILOR</h1>
            <h2>LICEUL TEORETIC PECIU NOU</h2>
            <p>7 NOIEMBRIE 2025, 18:00</p>
            <div class="countdown">
                <div>
                    <div>{{ countdown.days[0] }}</div>
                    <div>{{ countdown.days[1] }}</div>
                    <span>ZILE</span>
                </div>
                
                <div>
                    <div>{{ countdown.hours[0] }}</div>
                    <div>{{ countdown.hours[1] }}</div>
                    <span>ORE</span>
                </div>

                <div>
                    <div>{{ countdown.min[0] }}</div>
                    <div>{{ countdown.min[1] }}</div>
                    <span>MIN.</span>
                </div>
            </div>
            <span>EVENIMENTUL S-A INCHEIAT, MULTUMIM TUTUROR PENTRU PARTICIPARE!</span>
        </header>
        <!-- <section id="echipe">
            <h1>ECHIPELE BOBOCILOR</h1>
            <p>
                DE-A LUNGUL SERII VOR PARTICIPA LA DIVERSE PROBE STABILITE DE CATRE ORGANIZATORI,
                VOR PREZENTA PROBA LIBERA PREGATITA IMPREUNA CU PARTENERUL/PARTENERA IAR IN FINAL JURIUL SI VOTUL ELEVILOR DE LICEU
                VOR STABILI TITLURILE PE CARE LE VOR CASTIGA:
                <span>MISS & MR. BOBOC, MISS & MR. ELEGANTA, MISS & MR. POPULARITATE, REGELE SI REGINA BALULUI</span>
            </p>
            <div class="grid-echipe">
                <img src="img/echipe/ALEXANDRU_ANDREEA.png" alt="" draggable="false" @click="viewParticipants('ALEXANDRU', 'ANDREEA')">
                <img src="img/echipe/DARIUS_IZABELA.png" alt="" draggable="false" @click="viewParticipants('DARIUS', 'IZABELA')">
                <img src="img/echipe/DAVID_ANDREEA.png" alt="" draggable="false" @click="viewParticipants('DAVID', 'ANDREEA')">
                <img src="img/echipe/ZORAN_VANESA.png" alt="" draggable="false" @click="viewParticipants('ZORAN', 'VANESA')">
                <img src="img/echipe/CRISTIAN_IULIA.png" alt="" draggable="false" @click="viewParticipants('CRISTIAN', 'IULIA')">
                <img src="img/echipe/CRISTIAN_NATALIA.png" alt="" draggable="false" @click="viewParticipants('CRISTIAN', 'NATALIA')">
                <img src="img/echipe/NIKOLAS_ARIANA.png" alt="" draggable="false" @click="viewParticipants('NIKOLAS', 'ARIANA')">
                <img src="img/echipe/VOICU_TANIA.png" alt="" draggable="false" @click="viewParticipants('VOICU', 'TANIA')">
                <img src="img/echipe/MARCUS_MELISA.png" alt="" draggable="false" @click="viewParticipants('MARCUS', 'MELISA')">
            </div>
        </section> -->
        <!-- <section id="sponsori">
            <h1>SPONSORI</h1>
            <p>Le multumim din suflet tuturor partenerilor nostri pentru sprijinul acordat in organizarea Balului Bobocilor EDITIA 2025. Datorita generozitatii si implicarii lor, acest eveniment devine posibil si reuseste sa aduca bucurie si emotie tinerilor nostri. Recunostinta noastra se indreapta catre fiecare dintre voi pentru contributia adusa la succesul acestei seri speciale!</p>
            <div class="grid-sponsori">
                <img src="img/sponsori/tudo.png" alt="" draggable="false">
                <img src="img/sponsori/inferno.png" alt="" draggable="false">
            </div>
        </section>
        <section id="bilete">
            <h1>VREI BILET LA BAL?</h1>
            <p>
                ELEVII CLASELOR A 12-A TE POT AJUTA. CONTACTEAZA-NE<br/>PE CONTUL DE INSTAGRAM DEDICAT EVENIMENTULUI<br/>SAU IN PRIVAT. BILETUL COSTA <font color="#800020">30 DE LEI.</font>
                <img src="img/insta.png" alt="">
            </p>
        </section>
        <section id="tombola">
            <h1>DESPRE TOMBOLA</h1>
            <p>
                PE PARCURSUL SERII, IN TIMPUL PAUZELOR, VOM<br/>ORGANIZA TOMBOLA LA CARE SE POATE PARTICIPA<br/>
                <font color="#800020">DOAR CU BILETUL LA INDEMANA.</font> PREMIILE CONSTAU<br/>
                IN VOUCHERE SAU BUNURI MATERIALE.
            </p>
        </section> -->
        <!-- <footer><p>BALUL LICEULUI TEORETIC PECIU NOU EDITIA 2025 7 NOV. ORA 18:00</p></footer> -->
    </div>

    <!-- INDIVIDUAL -->
    <!-- <div class="individual" v-if="!hide">
        <nav>
            <a href="">← INAPOI LA PAGINA PRINCIPALA</a>
        </nav>
        <section id="baiat">
            <img :src="'img/participanti/' + boy + '_' + girl + '_' + boy + '.png'" alt="" draggable="false">
            <div class="despre-participant">
                <h1 v-html="text[boy + '_' + girl].boy.fullName"></h1>
                <p><span>Motto:</span> “{{ text[boy + '_' + girl].boy.motto }}”</p>
                <p><span>Daca ar fi sa alegi 3 cuvinte care te caracterizeaza, care ar fi acelea?:</span> {{ text[boy + '_' + girl].boy.words }}</p>
            </div>
        </section>
        <section id="fata">
            <img :src="'img/participanti/' + boy + '_' + girl + '_' + girl + '.png'" alt="" draggable="false">
            <div class="despre-participant">
                <h1 v-html="text[boy + '_' + girl].girl.fullName"></h1>
                <p><span>Motto:</span> “{{ text[boy + '_' + girl].girl.motto }}”</p>
                <p><span>Daca ar fi sa alegi 3 cuvinte care te caracterizeaza, care ar fi acelea?:</span> {{ text[boy + '_' + girl].girl.words }}</p>
            </div>
        </section>
    </div> -->

    <!-- VOTARE -->
    <!-- <div class="votare" v-if="okvote">
        <nav>
            <a href="#sponsori">VOTEAZA</a>
            <a href="#sponsori">SPONSORI</a>
        </nav>
        
        <header>
            <h1>PARTICIPA LA VOTUL LIVE</h1>
            <h2>AJUTA-TI PREFERATII SA CASTIGE</h2>
            <div class="redirecturi">
                <a href="https://strawpoll.com/w4nWWm3qqnA" target="_blank" style="display:block;text-decoration:none;">
                    <div></div>
                </a>
                <a href="https://strawpoll.com/e6Z2AJorqgN" target="_blank" style="display:block;text-decoration:none;">
                    <div></div>
                </a>
            </div>
            <p>ATENTIE! Dupa ce ai votat unul dintre titlurile miss / mr. intoarce-te pentru a vota titlul opus.</p>
        </header>

        <section id="sponsori">
            <h1>SPONSORI</h1>
            <p>Le multumim din suflet tuturor partenerilor nostri pentru sprijinul acordat in organizarea Balului Bobocilor EDITIA 2025. Datorita generozitatii si implicarii lor, acest eveniment devine posibil si reuseste sa aduca bucurie si emotie tinerilor nostri. Recunostinta noastra se indreapta catre fiecare dintre voi pentru contributia adusa la succesul acestei seri speciale!</p>
            <div class="grid-sponsori">
                <img src="img/sponsori/tudo.png" alt="" draggable="false">
                <img src="img/sponsori/inferno.png" alt="" draggable="false">
            </div>
        </section>
    </div> -->

    <script src="script.js" type="text/javascript"></script>
</body>
</html>